<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                </div>
                <div class="col-md-1"></div>

            </div>


            <div class="row">
                <div class="col-md-4 ">
                    <h2>Our Recent Activities</h2>
                    <a title="Mero Khoj Traning Center" href="#">
                        <img class="my-image" src="../../../theme/5.jpg">
                    </a>
                    <a title="loading...." href="#">
                        <img class="my-image" src="../../../theme/blue-canvas-with-damask-pattern-background-hd.jpg">
                    </a>

                    <div class="col-sm-6 showmore">
                        <a href="#">Show More
                            <i class="fa fa-hand-o-right"></i>
                        </a>
                    </div>

                </div>
                <div class="col-md-8 boxshadow">
                    <h1>Mero Khoj Travel & Tour</h1>
                    <p class="font-up">
                        <b>Mero Khoj</b> Travel and Tours Wing looks after the group’s travel business that is convincingly
                        operating in Europe and Asia at the moment. Mero Khoj Group believes in offering holistic tourism
                        offerings to the global travelers and wanderers. Therefore, the group has designed special travel
                        and tours packages for recreational tourism, adventure tourism, sports tourism, eco-tourism, religious
                        tourism, business tourism and so on. The group aims to promote responsible and ethical tourism practices
                        around the world as it has become a global concern. Mero Khoj group has considered the new and emerging
                        tourism destinations apart from world’s popular destinations for attracting visitors from around
                        the world. The group’s strong networking nd collaboration with regional tourism businesses has laid
                        the solid foundation for successful operation of international tourism. From Everest Base Camp to
                        the Great Wall of China, from Indian mesmerizing cities to the Himalayas of Bhutan and Nepal, from
                        the French Alps to the exhilarating European cities of London, Paris, Amsterdam, Frankfurt, Venice,
                        Milan, and from never sleeping New York City to Washington, California, Quebec and Toronto ME Group
                        takes you to the best places in the planet creating lifetime moments that you will be cherishing
                        throughout your lives.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-6 padding-up">
                    <h1>
                        <span class="change-style">Your Dream</span>
                        <b>Destinations</b>
                    </h1>
                    <p>
                        Travel and Tours Wing looks after the group’s travel business that is convincingly operating in Europe and Asia at the moment.
                        Mero Khoj Group believes in offering holistic tourism offerings to the global travelers and wanderers.
                        Therefore, the group has designed special travel and tours packages for recreational tourism, adventure
                        tourism, sports tourism, eco-tourism, religious tourism, business tourism and so on. The group aims
                        to promote responsible and ethical tourism practices around the world as it has become a global concern.
                        Mero Khoj group has considered the new and emerging tourism destinations apart from world’s popular
                        destinations for attracting visitors from around the world. The group’s strong networking nd collaboration
                        with regional tourism businesses has laid the solid foundation for successful operation of international
                        tourism. From Everest Base Camp to the Great Wall of China, from Indian mesmerizing cities to the
                        Himalayas of Bhutan and Nepal, from the French Alps to the exhilarating European cities of London,
                        Paris, Amsterdam, Frankfurt, Venice, Milan, and from never sleeping New York City to Washington,
                        California, Quebec and Toronto ME Group takes you to the best places in the planet creating lifetime
                        moments that you will be cherishing throughout your lives.
                    </p>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</div>

<div class="row height">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>Like us on</h3>
                <a href="javascript;">
                    <i class="fa fa-facebook fa-2x"></i>
                </a>
                <a href="javascript;">
                    <i class="fa fa-twitter fa-2x"></i>
                </a>
                <a href="javascript;">
                    <i class="fa fa-linkedin fa-2x"></i>
                </a>
            </div>

            <div class="col-md-4">
                <h3>Learn</h3>
                Powered by Google
            </div>

            <div class="col-md-5">
                <h3>Travel</h3>
                Powered by Google ©2010-2018.
                <br> Code licensed under an MIT-style License.
                <br> Documentation licensed under CC BY 4.0.
            </div>

        </div>
    </div>
</div>



<!-- // in html     
    <mat-paginator
     [length]="length"
      [pageSize]="pageSize"
       [pageSizeOptions]="pageSizeOptions"
        (page)="onPaging($event)">
      </mat-paginator>
    
    
    // component  
    length = FULL_INFO.length;
    pageSize = 10;
    pageSizeOptions = [5, 10, 25, 100];
    FULL_INFO== your repo name
    
    // paginate(page_size: number, page_number: number) {
    //         // page_number; because pages logically start with 1, but technically with 0
    //         console.log('pagenum = ' + page_number, 'pagesize = ' + page_size);
    //         return this.sortedData.slice(page_number * page_size, (page_number + 1) * page_size);
    //     }
    
    // this.sortedData  wiite your repo name
    // onPaging(p: PageEvent) {
    //         this.sortedData = this.paginate(p.pageSize, p.pageIndex);
    //         console.log(p.pageSize);
    //     } -->

