<div class="container">
    <div class="row">
        <h4><i class="fa fa-gear"></i> Setting...</h4>
        <div class="col-md-4" style="font-size: 20px;list-style: none;">
            <li>
                <a [routerLink]="['/setting','country-list']">Countries</a>
            </li>
            <li>
                <a [routerLink]="['/setting','qualification-list']">Qualification</a>
            </li>
            <li>
                <a [routerLink]="['/setting','color-list']">Color</a>
            </li>
            <li>
                <a [routerLink]="['/setting','role-list']">Role</a>
            </li>
        </div>
        <div class="col-md-8"></div>
    </div>
</div>