<div class="container">
    <div class="row">
        <h3>Contact Us.</h3>
        <p>
            operating in Europe and Asia at the moment. Mero Khoj Group believes in offering holistic tourism offerings to the global
            travelers and wanderers. Therefore, the group has designed special travel and tours packages for recreational
            tourism, adventure tourism, sports tourism, eco-tourism, religious tourism, business tourism and so on. The group
            aims to promote responsible and ethical tourism practices around the world as it has become a global concern.
            Mero Khoj group has considered the new and emerging tourism destinations apart from world’s popular destinations
            for attracting visitors from around the world. The group’s strong networking nd collaboration with regional tourism
            businesses has laid the solid foundation for successful operation of international tourism. From Everest Base
            Camp to the Great Wall of China, from Indian mesmerizing cities to the Himalayas of Bhutan and Nepal, from the
            French Alps to the exhilarating European cities of London, Paris, Amsterdam, Frankfurt, Venice, Milan, and from
            never sleeping New York City to Washington, California, Quebec and Toronto ME Group takes you to the best places
            in the planet creating lifetime moments that you will be cherishing throughout your lives.</p>

    </div>
    <div class="row">
        <div class="col-md-12">
            <a>Contact us</a>
        </div>
    </div>
</div>